


.info{
    height: 165px;
}

/* .btn {
    margin-top: 100%;
} */


.personaje:hover {
    transform: scale(1.05);
  
}
.personaje {
    transition: all .5s ease;
    margin-bottom: 5%;
    margin-top: 5%;
    height: 600px;

    z-index: 99999;
}


@media screen and (max-width:600px) {
    .personaje{
      width: 80%;
      height: auto;
      /* justify-content: center!important; */
      margin-left: auto;
      margin-right: auto;
    }
}